body {
  background: #f5f5f5;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

a.buy.added {
  background: #c8c9cb;
  cursor: not-allowed;
}

header.bar {
  background-color: #fff;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  border-radius: 50%;
}

.sort ul {
  display: -webkit-box;
  display: flex;
}

.sort ul a {
  flex: 1;
  text-align: center;
  font-size: .7rem;
  background: #fff;
}

.sort .icon {
  display: block;
  font-size: 1.4rem;
  color: #8fc320;
}

.sort .icon-know {
  width: 1.8rem;
  display: block;
  margin: .12rem auto;
}

.hot .card {
  margin-left: 0;
  margin-right: 0;
}

.hot .card .card-header {
  border-left: 0.2rem solid #e40077;
}

.hot .card .per {
  display: block;
}

.hot .card .per img {
  border: 1px solid #ebebeb;
}

.hot .card .swiper-container {
  padding-bottom: 0;
}

.recommend .card {
  margin-left: 0;
  margin-right: 0;
}

.recommend .card .card-header {
  border-left: 0.2rem solid #e40077;
}

.recommend .card .card {
  width: 50%;
}

.goods {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.per-goods {
  flex: 0 1 auto;
  width: 50%;
  padding: .5rem;
}

.per-goods img {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.per-goods > div {
  padding: .5rem;
  border: 1px solid #e7e7e7;
}

.goods-t {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: .2rem 0;
}

.flex-l-r {
  display: flex;
}

.flex-l-r span {
  flex: 1;
  color: #e40077;
}

.flex-l-r a {
  flex: 1;
  text-align: center;
  background: #8fc320;
  color: #fefefe;
  margin: 0 0 0 1.6rem;
  border-radius: 4px;
}

.back {
  color: #8fc320;
}

#order .buttons-tab .button.active {
  color: #8fc320;
  border-color: #8fc320;
}

#order .card {
  margin: 0;
}

#order .content-block {
  margin: .75rem 0;
}

#order .list-block {
  margin: 0;
}

#order .per-order {
  display: flex;
  align-items: center;
}

#order .per-order > label {
  flex: 0 1 20px;
  display: inline-block;
  padding: 0 .75rem;
}

#order .per-order > div {
  flex: auto;
}

#search .searchbar-cancel {
  color: #8fc320;
}

#know .know-t {
  border-left: 0.5rem solid #e40077;
  padding: .5rem;
  margin: 0;
}

#know .list-block {
  margin: 0;
}

#know .card {
  margin: 0;
  border-top: 1px solid #eee;
}

#know .card-content {
  display: none;
}

#know .answer {
  padding: .75rem;
}
